<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Powered-By "Hostinger Horizons"

  # Cache everything on CDN by default
  Header set Cache-Control "public, s-maxage=604800, max-age=0"

  # Do not cache HTML
  <If "%{REQUEST_URI} =~ m#^/$#">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  </If>
  <If "%{REQUEST_URI} =~ m#^/index\.html$#">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  </If>
  
  # Cache in browser all assets
  <If "%{REQUEST_URI} =~ m#^/assets/.*$#">
    Header set Cache-Control "public, max-age=604800"
  </If>
</IfModule>
